font-family: 'Open Sans', sans-serif;

#menu{}

.navbar-default{background-color: #fafafa;}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-color: #126537;}

.dropdown-menu li{
    font-size: 14px;
    font-family: open sans;}

#logo{
    margin: 15px;}

#links{
    font-family: open sans;
    font-size: 14px;
    float: left;
    padding: 0px;
    color: #757573;}
#flag_pic{
    padding-left: 8px;
    float: right;
	margin-top: 16px;}
.navbar-default .navbar-nav>li>a{
    color: #757573;}

#toppicturecontainer{
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: auto;
    margin-right: auto;
}
#toppicture{
	width:100%;
	height:200px;
	width:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}	
	
#sidepicturecontainer{
	float:left;
    margin-left: 1px;
	margin-bottom: 20px;
	margin-top: 40px;
    margin-right: 1px;}
	
	#pic{
    padding-top: 0px;
    padding-left: 20px;}	
	
#sections{padding-right: 25px;}
#searchrowupper{
    font-family: open sans;
    font-size: 12px;
	float: right;}
#searchcontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;}

#search{
    font-family: open sans;
    font-size: 12px;}

.glyphicon{
    color: #4a4a49;}

#map_canvas{
    margin-top: 20px;
    width: 200px;
    height: 300px;
    background-color: #CCC;}

#aboutcontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;}

#pic{
    padding-top: 0px;
    padding-left: 10px;}

#picturecontainer{
	float: left;
    width: 40%;
    padding-left: 0px;
    padding-right: 0px;}	
	
#contactheading{
    font-family: open sans;
    color: #126537;
    margin-bottom: 0px;
    padding-top: 30px;}

#line{
    width:100%;
    margin-top: 0px;}

#contact{
    font-family: open sans;
    color:#757573;
    line-height: 1.7;
    font-weight: 600;}

#contact2{
    font-family: open sans;
    color:#757573;
    line-height: 1.7;}

#contactmail{
    font-family: open sans;
    color:#757573;
    line-height: 1.7;
    text-decoration: underline;}

#contacttel{
    font-family: open sans;
    color:#757573;
    line-height: 1.7;
    margin-bottom: 40px;}

#sidebar{
    font-family: open sans;
    font-size: 14px;
    height: 100%;
    padding-right: 0;
    padding-top: 30px;}

#sidebar .nav{
    width:80%;}

#sidebar li{
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;}

#arrow{
    line-height: 1.7;
    float: right;
    font-size: 12px;}

.col-lg-4{
    padding-left: 0px;}

#form{
    background-color:#fafafa;
    margin-bottom: 60px;}

#tittle{
    font-family: open sans;
    font-size: 18px;
    color: #757573;}

#send{
    background-color: #126537;
    border-color: #126537;}

#footer{
    font-family: open sans;
    font-size: 12px;
    background-color: #4a4a49;
    color:#cccccc;}

#company{margin-top: 30px;}

#copy{margin-bottom: 30px;}

#copy1{margin-bottom: 0px;}

#copy1 > a {color:#cccccc;}

a{color: #126537;}

a:hover{color: #126537;}

#terms{text-decoration: underline;}

#copy > a {color:#cccccc;}

a{color: #757573;}

#bottommenu ul{
    list-style: none;
    padding-top: 30px;}

#bottommenu li{display: inline;}

#copy2{
    font-weight: bold;
    word-spacing: 10px}

#copy2 > a {color:#cccccc;}




/*ALL @MEDIA OF THE WEBSITE*/

@media screen and (max-width:1024px){

#logo{
    width: 170px;
    height: 25;
    margin: 15px;}

#personalinfo{
    font-family: open sans;
    font-size: 14px;
    color:#757573;
    padding-top: 0px;
    padding-bottom: 20px;}
    
#map_canvas{
    margin-top: 20px;
    width: 250px;
    height: 300px;
    background-color: #CCC;}

#sidepicturecontainer{display:none;}
	
	#pic{
    padding-top: 0px;
    padding-left: 20px;}
    
#searchcontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}
    
#aboutcontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}

#copy2{
    font-weight: bold;
    word-spacing: 10px}
    
#bottommenu{display: none;}
#toppicture{display:none;}
#map_canvas{display:none;}
#searchrowupper{display: none;}
}

@media screen and (max-width:480px){

#sidepicturecontainer{display:none;}
#toppicture{display:none;}
#map_canvas{display:none;}
#searchrowupper{display: none;}
}

a:hover{
    color: #757573;}