font-family: 'Open Sans', sans-serif;

#menu{}

.navbar-default{background-color: #fafafa;}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-color: #126537;}

.dropdown-menu li{
    font-size: 14px;
    font-family: open sans;}

#toppicturecontainer{
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: auto;
    margin-right: auto;
}
#toppicture{
	width:100%;
	height:200px;
	width:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}	
	
#logo{
    margin: 15px;}
#flag_pic{
    padding-left: 8px;
    float: right;
	margin-top: 16px;}
#links{
    font-family: open sans;
    font-size: 14px;
    float: left;
    padding: 0px;
    color: #757573;}

.navbar-default .navbar-nav>li>a{
    color: #757573;}

#sections{padding-right: 25px;}

#searchcontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;}
#searchrowupper{
    font-family: open sans;
    font-size: 12px;
	float: right;}
#search{
    font-family: open sans;
    font-size: 12px;}

.glyphicon{
    color: #4a4a49;}

#aboutcontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;}

#publicationsheading{
    font-family: open sans;
    color: #126537;
    margin-bottom: 0px;
    padding-top: 30px;}

#line{
    width:100%;
    margin-top: 0px;}

#publications{
    font-family: open sans;
    color:#757573;
    line-height: 1.7;
    margin-bottom: 20px;}
	
#thumb{background-color: #fdfdfd;}

#thumbnaildate{
    font-family: open sans;
    font-size: 14px;
    font-weight: bold;
    color: #575756;}

#thumbnailtext{
    font-family: open sans;
    font-size: 14px;
    color: #575756;}

#chevron{
    line-height: 2.5;
    float: right;
    font-size: 25px;}
#sidebar{
    font-family: open sans;
    font-size: 14px;
    height: 100%;
    padding-right: 0;
    padding-top: 30px;}

#sidebar .nav{
    width:80%;}

#sidebar li{
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;}

#arrow{
    line-height: 1.7;
    float: right;
    font-size: 12px;}

.col-lg-4{
    padding-left: 0px;}

#footer{
    font-family: open sans;
    font-size: 12px;
    background-color: #4a4a49;
    color:#cccccc;}

#company{margin-top: 30px;}

#copy{margin-bottom: 30px;}

#copy1{margin-bottom: 0px;}

#copy1 > a {color:#cccccc;}

a{color: #126537;}

a:hover{color: #126537;}

#copy > a {color:#cccccc;}

#terms{text-decoration: underline;}

a{color: #757573;}

a:hover{color: #757573;}

#bottommenu ul{
    list-style: none;
    padding-top: 30px;}

#bottommenu li{display: inline;}

#copy2{;
    font-weight: bold;
    word-spacing: 10px;}

#copy2 > a {color:#cccccc;}




/*ALL @MEDIA OF THE WEBSITE*/

@media screen and (max-width:1024px){

#logo{
    width: 170px;
    height: 25;
    margin: 15px;}

#personalinfo{
    font-family: open sans;
    font-size: 14px;
    color:#757573;
    padding-top: 0px;
    padding-bottom: 20px;}
    
#searchcontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}
    
#aboutcontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}

#copy2{;
    font-weight: bold;
    word-spacing: 10px;}

#bottommenu{display: none;}
#searchrowupper{display: none;}
#toppicture{display:none;}
}

 @media screen and (max-width:480px){   
 
#logo{
    width: 170px;
    height: 25;
    margin: 15px;}
    
#personalinfo{
    font-family: open sans;
    font-size: 14px;
    color:#757573;
    padding-top: 0px;
    padding-bottom: 20px;}
    
#managementpic{display: none;}
#toppicture{display:none;}
#bottommenu{display: none;}
#searchrowupper{display: none;}
}