font-family: 'Open Sans', sans-serif;

#menu{}

body {
    background-image: url("*");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position:left top;}

.navbar-default{background-color: #fafafa;}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-color: #126537;}

.dropdown-menu li{
    font-size: 14px;
    font-family: open sans;}

#toppicturecontainer{
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: auto;
    margin-right: auto;
}
#toppicture{
	width:100%;
	height:200px;
	width:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}	
	
#logo{
    margin: 15px;}

#links{
    font-family: open sans;
    font-size: 14px;
    float: left;
    padding: 0px;
    color: #757573;}

#sections{padding-right: 25px;}

.navbar-default .navbar-nav>li>a{
    color: #757573;}

#searchcontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;}

#search{
    font-family: open sans;
    font-size: 12px;}
	
#searchrowupper{
    font-family: open sans;
    font-size: 12px;
	float: right;}

.glyphicon{
    color: #4a4a49;}

#welcomecontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 5px;
	overflow:hidden;}

#welcomeheading{
    font-family: open sans;
    color: #757573;
    margin-bottom: 0px;
    padding-top: 10px;}

#line{
    width:100%;
    margin-top: 0px;}

#welcometext{
	/*width: 60%;*/
	float: left;
	font-family: open sans;
    color:#757573;
    line-height: 1.7;}

#pic{
    padding-top: 0px;
    padding-left: 20px;}

#flag_pic{
    padding-left: 8px;
    float: right;
	margin-top: 16px;}

#picturecontainer{
	float:left;
    width: 35%;
    padding-left: 10px;
    padding-right: 0px;}
	
#sentence{
    font-style:italic;
    font-family: open sans;
    font-size: 16px;
    color:#575756;
    font-weight:600;}

.col-lg-12{
    padding-left: 0px;
    padding-right: 0px;}

.col-lg-6{
    padding-left: 0px;
    padding-right: 0px;}

.col-lg-4{
    padding-left: 0px;
    padding-right: 0px;}

#infocontainer{
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;}

#priceheading{
    font-family: open sans;
    color: #757573;
    margin-bottom: 0px;
    padding-top: 10px;}

#shareheading{
   font-family: open sans;
    color: #757573;
    margin-bottom: 0px;
    padding-top: 50px;}

#share{
    padding-bottom: 30px;}

#stock{
    font-family: open sans;
    font-size: 15px;
    color: #575756;
    padding-bottom: 10px;}

#stock2{
    font-family: open sans;
    font-size: 15px;
    color: #575756;
    padding-bottom: 10px;}

#shareprices{
    font-family: open sans;
    font-size: 16px;
    color: #757573;}

#line2{
    width: 77%;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;}

#newsheading{
    font-family: open sans;
    color: #757573;
    margin-bottom: 0px;
    padding-top: 10px;}

#thumb{
    background-color: #126537;
    color: #cccccc;
    border-color:#126537;}

#thumb3{
    background-color: #126537;
    color: #cccccc;
    border-color:#126537;
    margin-bottom: 70px;}

#thumbnailtext{
    font-family: open sans;
    font-size: 13px;
    color:#fff;}

#button{
    font-family: open sans;
    font-size: 12px;
    font-weight:700;
    color: #fff;
	margin-bottom: 0px;}
	

#footer{
    font-family: open sans;
    font-size: 12px;
    background-color: #4a4a49;
    color:#cccccc;}

#company{margin-top: 30px;}

#copy{margin-bottom: 30px;}

#copy1{margin-bottom: 0px;}

#terms{text-decoration: underline;}

#copy > a {color:#cccccc;}

a{color: #126537;}

a:hover{color: #126537;}

#copy1 > a {color:#cccccc;}

a{color: #126537;}

a:hover{color: #126537;}

#bottommenu ul{list-style: none;}

#bottommenu li{display: inline;}

#copy2{;
    font-weight: bold;
    word-spacing: 10px;}

#copy2 > a {color:#cccccc;}

#bottommenu{padding-top: 30px;}



/*ALL @MEDIA OF THE WEBSITE*/

@media screen and (max-width:1024px){

#logo{
    width: 190px;
    height: 45;
    margin: 15px;}
    
#searchcontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}
    
#welcomecontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}
    
#infocontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;}

#line2{width: 100%;}
    
#share{
    padding-top:5px;
    padding-bottom: 5px;}
    
#stock2{
    font-family: open sans;
    font-size: 15px;
    color: #575756;
    padding-bottom: 10px;
    padding-top: 10px;}
    
#newscontainer{
    width: 80%;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    padding-top:30px;}

#bottommenu{display: none;}

#pic{display: none;}
#picturecontainer{display: none;}	
#toppicture{display:none;}
#searchrowupper{display: none;}

}

@media screen and (max-width:480px){
#logo{
    width: 170px;
    height: 25;
    margin: 15px;}

#share{
    padding-top:5px;
    padding-bottom: 5px;
    width: 100%;}

#pic{display: none;}
#picturecontainer{display: none;}	
#toppicture{display:none;}
#searchrowupper{display: none;}
	
}

#menu2{
    background-color: transparent;}


