
#tittle{
    font-family: lato;
    font-size: 25px;
    font-weight: bold;
    color:#575756;}

#text{
    font-family: lato;
    font-size: 18px;
    color:#575756;
    text-align: justify;
    width: 90%;}